services:
  db:
    image: postgres:18
    container_name: let-me-coin-db
    ports:
      - 9295:5432
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

volumes:
  pgdata:
